@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(./reset.css);
@import url(./media_queries.css);
body {
    font-family: 'Roboto', sans-serif;
}
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 115px 0;

}

.nav-links a {
    text-decoration: none;
    color: #222;
    padding: 10px;

}

.fa-bars {
    display: none;
}

.introduction {
padding: 115px;

display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.intro-left-side {
    padding-top: 133px;
    min-width: 715px;
}

.intro-left-side h1{
font-size: 72px;
font-weight: 700;


}

.intro-left-side h1 span {
    color: #FF8A56;
    
}

.intro-left-side p {
    color: #666;
    padding-top: 34px;
}

.book-a-call {
    padding-top: 34px;
}

.book-a-call button {
    width: 151px;
    height: 58px;
    background: #222;
    color: #fff;
    margin-right: 40px;
}

.book-a-call a {
    margin-right: 10px;
    text-decoration: none;
    color: #222;
}

.intro-right-side {
    padding-top: 82px;
    min-width: 450px;
}


/* Trusted-by section starts*/
.trusted-by h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.partner-companies {
    padding: 70px 289px; 
    
    display: flex;
    justify-content: space-around;
}
/* Trusted-by section ends*/

.services {
    padding-top: 76px;
}
.services h6 {
    text-align: center;
    color: #FF5E69;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
}

.services h1 {
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    padding-top: 20px;
    
}
.services-cards {
    display: flex;
    justify-content: space-around;
    padding: 117px 171px;
    flex-wrap: wrap;
   
    
}

.services-cards h2 {
    font-weight: 700;
    font-size: 24px;
    padding-top: 39px;
    
}

.service-card {
    min-width: 250px;
}

.service-card p {
    width: 252px;
    color: #666;
    padding-top: 25px;
}

.services-cards ul {
    list-style-position: inside;
    font-weight: 700;
    padding-top: 21px;
    
}

/* projects */
.projects .heading {
    
    display: flex;
    justify-content: space-between;

    padding-left:  113px;
}
.projects h6 {
    padding: 20px 113px;
    font-weight: 700;
    color: #B16CEA;
    font-size: 22px;
    text-transform: uppercase;
    
}

.projects h1 {
    font-weight: 700;
    font-size: 54px;
}
.projects button {
    width: 201px;
    height: 58px;
    background: #222;
    color: #fff;
    font-size: 18px;
    margin-right: 112px;
    

}
.cards {
    display: flex;
    justify-content: space-between;
    
    width: 486px;
    height: 468px;
    padding-left: 113px;
    padding-top: 70px;
    
}

.cards h4 {
    color:#3C46FF;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom:  17px;
    margin-left: 36px;
    margin-top: 33px;


}

.cards p {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 19px;
    margin-left: 36px;
}

.cards a {
    text-decoration: none;
    color: #000;
    margin-left: 36px;
}













