@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(./reset.css);
@import url(./media_queries.css);
body {
    font-family: 'Roboto', sans-serif;
}
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 115px 0;

}

.nav-links a {
    text-decoration: none;
    color: #222;
    padding: 10px;

}

.fa-bars {
    display: none;
}

.introduction {
padding: 115px;

display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.intro-left-side {
    padding-top: 133px;
    min-width: 715px;
}

.intro-left-side h1{
font-size: 72px;
font-weight: 700;


}

.intro-left-side h1 span {
    color: #FF8A56;
    
}

.intro-left-side p {
    color: #666;
    padding-top: 34px;
}

.book-a-call {
    padding-top: 34px;
}

.book-a-call button {
    width: 151px;
    height: 58px;
    background: #222;
    color: #fff;
    margin-right: 40px;
}

.book-a-call a {
    margin-right: 10px;
    text-decoration: none;
    color: #222;
}

.intro-right-side {
    padding-top: 82px;
    min-width: 450px;
}